name: CI/CD DevOps Final

on:
  push:
    branches: [ "main" ]

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repositorio
      uses: actions/checkout@v3

    - name: Instalar Node
      uses: actions/setup-node@v3
      with:
        node-version: 18

    - name: Instalar dependencias
      run: npm install

    - name: Ejecutar pruebas unitarias
      run: npm test

    - name: Login en Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build de la imagen Docker
      run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/devops-final:latest .

    - name: Push a Docker Hub
      run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/devops-final:latest

    - name: Deploy en Render
      run: |
        curl -X POST \
        -H "Authorization: Bearer ${{ secrets.RENDER_API_KEY }}" \
        -H "Accept: application/json" \
        -d '' \
        https://api.render.com/v1/services/${{ secrets.RENDER_SERVICE_ID }}/deploys
